.contenedor {
	  font-family: 'Raleway', Arial, sans-serif;
	margin: 0 auto;

}

.main {
margin: 0 auto;
height: 700px;
background: url(../img/main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.main h2 {
color:#fff;
font-size: 15px;
font-weight: lighter;
vertical-align: middle;
letter-spacing: 10px;
text-transform: uppercase;
padding-top: 240px;
}

.main h1 {
color:#fff;
font-size: 100px;
font-weight: lighter;
vertical-align: middle;
letter-spacing: 10px;
text-transform: uppercase;
padding-top: 20px;
text-shadow: 2px 2px 8px #4d001f;
}

.main p {
	color:#4d001f;
font-size: 17px;
font-weight: lighter;
vertical-align: middle;
text-transform: uppercase;
letter-spacing: 5px;
padding-top: 90px;
}


.info {
margin: 0 auto;
height: 200px;
background-color: #fff;
width: 800px;
margin-top: 40px;
}

.info h3 {
	font-size: 25px;
	font-weight: lighter;
  	color:  #999999;
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.info p {
	font-size: 14px;
	line-height: 21px;
	text-align: justify;
    text-justify: inter-word;
    color: #666666;

}

h3 {
	font-size: 23px;
	font-weight: lighter;
  	color:  #999999;
  	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

}

.mangarow {
margin: 0 auto;
text-align: center;  
width: 1200px;
}

hr {
margin: 0 auto;
text-align: center;
width: 250px;
color: #999999;
margin-top: 20px;
margin-bottom: 15px;

}
/*Codes from codepen*/ 

@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1321 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 20px 20px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 5%;
  -webkit-border-radius: 5%;
}
figure.snip1321 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  margin-left: 15px;
  margin-right: 15px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
  margin: 0;
}
figure.snip1321 h2 {
  font-weight: 600;
  color: #666666;
margin-bottom: 15px;
}
figure.snip1321 h4 {
  font-weight: 200;
  line-height: 18px;
  font-size: 14px;
  color: #8c8c8c;
}

figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
    border-radius: 5%;
  -webkit-border-radius: 5%;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
/* Demo purposes only */
/*body {
  background-color: #212121;
}
*/