@import url(https://fonts.googleapis.com/css?family=Advent+Pro:400,300,200,100,700,500,600);
@import url(https://fonts.googleapis.com/css?family=Glegoo:400,700);

/*body {

background: url(../img/marti.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


.marticontainer {
	margin: 0 auto;
	width: 750px;
	height: 520px;
	margin-top: 150px;
	position: relative;
	z-index: 2;

}

.sello {
	margin: 0 auto;
	width: 750px;
	position: relative;
	z-index: 1;
}

.sello img {
	width: 200px;
	position: absolute;
	top: 100px;
	left: -20px;
}


.right {
	border-left: 4px solid  #b32400;
}



.left {
	width: 160px;
	display: inline-block;
	height: 390px;
	float: left;
	color: #b32400;
	font-family:'Glegoo', serif;
	position: relative;
}

.left .number {
	position: absolute;
	top: 5px;
	font-size: 16px;
	letter-spacing: 2px;

}

.left .station {
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: absolute;
	left: 0px;
	bottom: 100px;
}

.left .autor {
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: bold;
	position: absolute;
	left: 0px;
	bottom: 10px;

}


.right {
	width: 550px;
	display: inline-block;
	height: 390px;
	color: #b32400;
}

.right .title {
	text-align: center;
	font-family:'Advent Pro', sans-serif;
	text-transform: uppercase;
	font-size: 45px;
	padding-top: 10px;
	font-weight: bold;


}


.right .poema {
	font-family:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	margin-right: 20px;
	margin-left: 20px;
}

.right .poema p {
	font-size: 16px;
	line-height: 21px;
	text-align: left;
	padding: 10px 5px;
	font-weight: bold;
}


.right .conclusion {
	font-family:'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	text-align: center;
	font-size: 18px;

}

.right .conclusion p{
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	padding-top: 20px;
}


hr {
	border-style: solid;
    color:  black;
    font-weight: 1px;
    width: 500px;
}
